<% include theme-header.ejs %>

<div id="wrap">
<div class="container" id="my-container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="my-unit hero-unit">
  <div class="row-fluid">
    <div class="span8">
      <h1 class="h1">Welcome to TawkTalk.</h1>
      <p class="p">TawkTalk instantly connects you to native speakers in any language and on any device.</p>
    </div>
    <div class="row-fluid">
    <div class="span4">
      <form id="signup" class="form-horizontal" method="post" action="success">
        <legend class="my-legend">New to TawkTalk? Sign up!</legend>
        <div class="my-control-group control-group">
          <div class="my-controls controls">
            <div class="input-prepend">
              <input type="my-text" class="input-xlarge" id="email" name="email" placeholder="Email" content-type="email">
            </div>
         </div>
        </div>
        <div class="my-control-group control-group">
          <div class="my-controls controls">
            <div class="input-prepend">
              <input type="my-password" id="passwd" class="my-input input-xlarge" name="passwd" placeholder="Password" content-type="passwd">
            </div>
          </div>
        </div>
        <div class="my-control-group control-group">
          <div class="my-controls controls">
            <div class="input-prepend">
              <input type="my-password" id="conpasswd" class="my-input input-xlarge" name="conpasswd" placeholder="Re-enter Password" content-type="conpasswd">
            </div>
          </div>
        </div>
 
        <div class="my-control-group control-group">
          <div class="my-controls controls">
            <button type="submit" class="btn btn-success my-btn-success" >Sign up for TawkTalk</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>

  <!-- Example row of columns -->
  <div class="avatar-title">
    <p>Speakers online now:
      <span class="avatar-number">536,000</span> speakers from <span class="avatar-number">144</span> countries are online this minutes. </span>
    </p>
  </div>
  <div class="row">
    <div class="span2">
        <img class="my-avatar" src="/assets/img/avatar1.jpg" alt>
    </div>
    <div class="span2">
      <img class="my-avatar" src="/assets/img/avatar2.jpg" alt>
   </div>
    <div class="span2">
        <img class="my-avatar" src="/assets/img/avatar3.jpg" alt>
    </div>
    <div class="span2">
        <img class="my-avatar" src="/assets/img/avatar4.jpg" alt>
    </div>
    <div class="span2">
        <img class="my-avatar" src="/assets/img/avatar5.jpg" alt>
    </div>
    <div class="span2">
        <img class="my-avatar" src="/assets/img/avatar6.jpg" alt>
    </div>
  </div>

  <div class="row">
    <div class="span2">
        <img class="my-avatar" src="/assets/img/avatar7.jpg" alt>
    </div>
    <div class="span2">
      <img class="my-avatar" src="/assets/img/avatar8.jpg" alt>
   </div>
    <div class="span2">
        <img class="my-avatar" src="/assets/img/avatar9.jpg" alt>
    </div>
    <div class="span2">
        <img class="my-avatar" src="/assets/img/avatar10.jpg" alt>
    </div>
    <div class="span2">
        <img class="my-avatar" src="/assets/img/avatar11.jpg" alt>
    </div>
    <div class="span2">
        <img class="my-avatar" src="/assets/img/avatar12.jpg" alt>
    </div>
  </div>


</div>
</div>

<% include theme-footer.ejs %>
