<!DOCTYPE html>
<html>
  <head>
    <title>TawkTalk</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href="/assets/css/social-buttons.css" rel="stylesheet">
    <link href="/assets/css/stylesheet.css" rel="stylesheet">
    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <script src="/assets/js/html5shiv.js"></script>
    <!--[endif]-->
    
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.png">

  </head>

  <body class="my-background">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner my-navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><img class="logo-theme" src="/assets/img/logo.png" alt></li>
              <li>
                <a href="#"><i class="icon-home icon-theme"></i>
                  <span class="text-theme">Home</span>
                </a>
              </li>
              <li>
                <a href="#"><i class="icon-info-sign icon-theme"></i>
                  <span class="text-theme">About</span>
                </a>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="#"><i class="icon-cog icon-theme"></i></a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  <i class="icon-thumbs-up icon-theme" href="#"></i>
                  Share
                </a>
                <div class="dropdown-menu my-dropdown-menu">
                  <button class="btn-xlarge btn-facebook"id="sign-in-facebook"><i class="icon-facebook"></i></button>
                  <button class="btn-xlarge btn-google-plus"><i class="icon-google-plus"></i></button>
                  <button class="btn-xlarge btn-twitter"><i class="icon-twitter"></i></button>
                  <button class="btn-xlarge btn-linkedin"><i class="icon-linkedin"></i></button>
                </div>
              </li>
              <li>
                <a href="#"><i class="icon-envelope-alt icon-theme"></i>
                  <span class="text-theme">Contact</span>
                </a>
             </li>
            </ul>
	      </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/jquery.validate.js"></script>
    <script src="../assets/js/signup.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
